body{
    background-color: darkslategray;
    background-image: url("../img/papel-blanco-manchas-doradas_23-2148911745.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}
.inicio{
  display:  flex;
  flex-direction: column;
  align-items: center;
}
.inicio h1{
 font-size: 100px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
font-size: 700;
}
.inicio img{
  border-radius: 100%;
  border: 5px solid black;
}
h1{
  color: rgb(56, 41, 10);  
}
h2{
    color: rgb(84, 57, 17);  
  }
h3{
    color: rgb(120, 82, 37);  
  }
h4{
    color: rgb(123, 107, 70);  
  }
h5{
    color: rgb(62, 34, 17);  
  }
h6{
    color: rgb(94, 55, 37);  
  }
  .primer-parrafo{
    color: black;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 80;
  }
  .segundo-parrafo{
    color: black;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
  } 

  .galeria{
    display: flex;
    border: 10px solid rgb(125, 78, 29);
    border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
    overflow-x: scroll;
  
  }
  .galeria img{
    width: 500px;
    height: 500px;
      }
  .aretes{
        display: flex;
        border: 10px solid rgb(125, 78, 29);
        border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
        overflow-x: scroll;
      
      }
      .aretes img{
        width: 300px;
        height: 300px;
          }
 .collares{
            display: flex;
            border: 10px solid rgb(125, 78, 29);
            border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
            overflow-x: scroll;
          
          }
          .collares img{
            width: 300px;
            height: 300px;
              }
 .pulseras{
    display: flex;
    border: 10px solid rgb(125, 78, 29);
    border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
    overflow-x: scroll;
  
  }
  .pulseras img{
    width: 300px;
    height: 300px;
      }
 .anillos{
    display: flex;
    border: 10px solid rgb(125, 78, 29);
    border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
    overflow-x: scroll;
  
  }
  .anillos img{
    width: 300px;
    height: 300px;
      }
.broches{
        display: flex;
        border: 10px solid rgb(125, 78, 29);
        border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
        overflow-x: scroll;
      
      }
      .broches img{
        width: 300px;
        height: 300px;
          }
.relojes{
    display: flex;
    border: 10px solid rgb(125, 78, 29);
    border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
    overflow-x: scroll;
  
  }
  .relojes img{
    width: 300px;
    height: 300px;
      }
.piercings{
        display: flex;
        border: 10px solid rgb(125, 78, 29);
        border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
        overflow-x: scroll;
      
      }
      .piercings img{
        width: 300px;
        height: 300px;
          }
.tobilleras{
            display: flex;
            border: 10px solid rgb(125, 78, 29);
            border-image: linear-gradient(to bottom,rgb(212, 192, 153)0%, rgb(19, 16, 1) 100%     )1;
            overflow-x: scroll;
          
          }
          .tobilleras img{
            width: 300px;
            height: 300px;
              }

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(156, 97, 71);
}
 nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
 }